// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.amt-container {
    
    .am-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.am-b-container {
    height: 105vh;
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;

    .am-body {
        font-family: $bodyFont;
        text-align: left;
        font-size: 1.23rem;
        padding-left: 8%;
    }
}

@media (min-width: 375px) {
    .am-b-container {
        height: 110%;

        .am-body {

            font-size: 1.365rem;
           
        }
    }
}