// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.amt-container {
    
    .am-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.am-b-container {
    height: 105vh;
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;

    .am-body {
        font-family: $bodyFont;
        text-align: left;
        font-size: 1.23rem;
        padding-left: 8%;
    }
}

@media (min-width: 375px) {
    .am-b-container {
        height: 95vh;

        .am-body {

            font-size: 1.40rem;
           
        }
    }
}

@media (min-width: 375px) and (min-height: 812px){
    .am-b-container {
        height: 100vh;

        .am-body {

            font-size: 1.45rem;
           
        }
    }
}

@media (min-width: 411px) {
    .am-b-container {
        height: 95vh;

        .am-body {

            font-size: 1.5rem;
           
        }
    }
}

@media (min-width: 425px) {
    .am-b-container {
        height: 90vh;

        .am-body {

            font-size: 1.45rem;
           
        }
    }
}

@media (min-width: 525px) {
    .am-b-container {
        height: 90vh;

        .am-body {

            font-size: 1.5rem;
           
        }
    }
}

@media (min-width: 768px) and (min-height: 1024px){
    .amt-container {
        

        .am-title {
            font-size: 3.5rem;
        }
    }

    .am-b-container {

        .am-body {
            font-size: 2.1rem;
        }
    }
}