
.about-me-container {
    height: 85vh;
    background-color: aqua;

    .am-title {
       
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
    }
}