// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.cm-container {
    .cm-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.cm-b-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;

    .i-1 {
        display: grid;
        padding-left: 8%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-decoration: none;
        color: black;

        .i-1-image {
            height: 100px;
        }

        .i-1-span {
            padding-top: 2%;
            font-family: $bodyFont;
            text-align: left;
            font-size: 1.5rem;
            
        }
    }

    .i-2 {
        display: grid;
        padding-left: 8%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        text-decoration: none;
        color: black;

        .i-2-image {
            height: 100px;
        }

        .i-2-span {
            padding-top: 2%;
            font-family: $bodyFont;
            text-align: left;
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 375) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.4rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.4rem;
            }
        }
    }
}

@media (min-width: 411) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.5rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 425) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.45rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.45rem;
            }
        }
    }
}

@media (min-width: 525) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.5rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 600) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.75rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.75rem;
            }
        }
    }
}

@media (min-width: 700) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 1.9rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 1.9rem;
            }
        }
    }
}

@media (min-width: 768px) and (min-height: 1024px){
    .cm-container {
        .cm-title {
            font-size: 3.5rem;
        }
    }

    .cm-b-container {

        .i-1 {

            .i-1-image {
                height: 200px;
            }

            .i-1-span {
                font-size: 2.1rem;
            }
        }

        .i-2 {

            .i-2-image {
                height: 200px;
            }

            .i-2-span {
                font-size: 2.1rem;
            }
        }
    }
}

@media (min-width: 1200) {
    .cm-b-container {

        .i-1 {

            .i-1-span {
                font-size: 2.1rem;

            }
        }

        .i-2 {

            .i-2-span {
                font-size: 2.1rem;
            }
        }
    }
}