// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.cm-container {
    .cm-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.cm-b-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;

    .i-1 {
        display: grid;
        padding-left: 8%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        .i-1-image {
            height: 100px;
        }

        .i-1-span {
            padding-top: 2%;
            font-family: $bodyFont;
            text-align: left;
            font-size: 1.5rem;
        }
    }

    .i-2 {
        display: grid;
        padding-left: 8%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        .i-2-image {
            height: 100px;
        }

        .i-2-span {
            padding-top: 2%;
            font-family: $bodyFont;
            text-align: left;
            font-size: 1.5rem;
        }
    }
}