// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.cm-container {
    .cm-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.cm-b-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;

    .i-1 {
        display: grid;
        padding-left: 4%;
        

        .i-1-image {
            height: 50px;
        }

        .i-1-span {
            font-family: $bodyFont;
        }
    }

    .i-2 {
        display: grid;
        padding-left: 4%;
        
        .i-2-image {
            height: 50px;
        }

        .i-2-span {
            font-family: $bodyFont;
        }
    }
}