// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;

.pt-container {
    .p-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.p-b-container {
    height: 110vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    font-family: $bodyFont;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 4%;
    
    .p-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        
        display: grid; 

        text-decoration: none;

        &:visited {
            color: black;
        }
        
        .p-1-image {
            width: 160%;
        }
    }
    
    .p-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
        display: grid; 

        text-decoration: none;

        &:visited {
            color: black;
        }

        .p-2-image {
            width: 160%;
        }
    }
    
    .p-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        
        display: grid; 

        text-decoration: none;

        &:visited {
            color: black;
        }

        .p-3-image {
            width: 160%;
        }
    }
}

@media (min-width: 425px){

    .p-b-container {
        font-size: 1.45rem;

        .p-1 {

            .p-1-image {
                width: 100%;
            }
        }

        .p-2 {

            .p-2-image {
                width: 100%;
            }
        }

        .p-3 {

            .p-3-image {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) and (min-height: 1024px){
    .pt-container {
        .p-title {
            font-size: 3.5rem;
        }
    }

    .p-b-container {
        font-size: 2.5rem;

        .p-1 {

            .p-1-image {
                width: 100%;
            }
        }

        .p-2 {

            .p-2-image {
                width: 100%;
            }
        }

        .p-3 {

            .p-3-image {
                width: 100%;
            }
        }
    }
}