// VARIABLES
$titleFont: 'Merriweather', serif;

.r-container {

    .r-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.pdf-container {
    height: 90vh;
    display: grid;

    .pdf-file {    
        padding-top: 10%;
        height: 45%;
        width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 265px) {
    .pdf-container {
    

        .pdf-file {    
            height: 48%;
        }
    }  
}

@media (min-width: 290px) {
    .pdf-container {
    

        .pdf-file {    
            height: 51%;
        }
    }  
}

@media (min-width: 320px) {
    .pdf-container {
    

        .pdf-file {    
            height: 56%;
        }
    }  
}

@media (min-width: 330px) {
    .pdf-container {
    

        .pdf-file {    
            height: 58%;
        }
    }  
}

@media (min-width: 340px) {
    .pdf-container {
    

        .pdf-file {    
            height: 60%;
        }
    }  
}

@media (min-width: 350px) {
    .pdf-container {
    

        .pdf-file {    
            height: 62%;
        }
    }  
}

@media (min-width: 360px) {
    .pdf-container {
    

        .pdf-file {    
            height: 64%;
        }
    }  
}

@media (min-width: 370px) {
    .pdf-container {
    

        .pdf-file {    
            height: 66%;
        }
    }  
}

@media (min-width: 380px) {
    .pdf-container {
    

        .pdf-file {    
            height: 68%;
        }
    }  
}

@media (min-width: 390px) {
    .pdf-container {
    

        .pdf-file {    
            height: 70%;
        }
    }  
}

@media (min-width: 400px) {
    .pdf-container {
    

        .pdf-file {    
            height: 72%;
        }
    }  
}

@media (min-width: 410px) {
    .pdf-container {
    

        .pdf-file {    
            height: 74%;
        }
    }  
}

@media (min-width: 425px){
    .pdf-container {
    

        .pdf-file {    
            width: 70%;
            height: 52%;
        }
    }       
}

@media (min-width: 440px){
    .pdf-container {
    

        .pdf-file {    
            height: 54%;
        }
    }       
}

@media (min-width: 460px){
    .pdf-container {
    

        .pdf-file {    
            height: 56%;
        }
    }       
}

@media (min-width: 480px){
    .pdf-container {
    

        .pdf-file {    
            height: 58%;
        }
    }       
}

@media (min-width: 500px){
    .pdf-container {
    

        .pdf-file {    
            height: 60%;
        }
    }       
}

@media (min-width: 510px){
    .pdf-container {
    

        .pdf-file {    
            height: 62%;
        }
    }       
}

@media (min-width: 520px){
    .pdf-container {
    

        .pdf-file {    
            height: 64%;
        }
    }       
}

@media (min-width: 530px){
    .pdf-container {
    

        .pdf-file {    
            height: 66%;
        }
    }       
}

@media (min-width: 540px){
    .pdf-container {
    

        .pdf-file {    
            height: 68%;
        }
    }       
}

@media (min-width: 550px){
    .pdf-container {
    

        .pdf-file {    
            height: 70%;
        }
    }       
}

@media (min-width: 590px){
    .pdf-container {
    

        .pdf-file {    
            height: 72%;
        }
    }       
}

@media (min-width: 600px){
    .pdf-container {
    

        .pdf-file {    
            height: 74%;
        }
    }       
}

// @media (min-width: 575px){
//     .pdf-container {

//         .pdf-file { 
//             padding-top: 5%;
//             height: 80%;
//         }
//     }       
// }

// @media (min-width: 625px){
//     .pdf-container {

//         .pdf-file { 
//             padding-top: 0%;   
//             height: 90%;
//         }
//     }       
// }

// @media (min-width: 768px) and (min-height: 1024px){
//     .pdf-container {
    

//         .pdf-file {    
//             padding-top: 10%;
//             height: 75%;
//         }
//     }   
// }

// @media (min-width: 768px) and (min-height: 1024px){
//     .r-container {

//         .r-title {
//             font-size: 3.5rem;
//         }
//     }

//     .pdf-container {

//         .pdf-file {    
//             height: 65%;
//             width: 60%;
//         }
//     }
// }