// VARIABLES
$titleFont: 'Merriweather', serif;

.r-container {

    .r-title {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: black;
        padding-left: 4%;
    }
}

.pdf-container {
    height: 90vh;
    display: grid;
    opacity: initial;

    .pdf-file {    
        margin: 0%;
        height: 65%;
        width: 100%;
        left: 2px;
    }
}