* {
    margin: 0;
    padding: 0;
}

// IMPORTS
@import '_about-me'; // ABOUT ME PAGE
@import '_projects'; // PROJECTS PAGE
@import '_resume'; // RESUME PAGE
@import '_contact-me'; // CONTACT ME PAGE

// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;



.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    background-position: right;
    position: fixed;
    top: 0px;
    right: 2px;
    z-index: -1;
    overflow: hidden;
    opacity: 0.4;

    .background-image {
        height: 93vh;
        opacity: 1;
    }

    #tieColor {
        height: 100vh;
        width: 100%;
        top: 0;
        position: absolute;
        z-index: -1;
    }
}


.title_container {
    padding: 4%;

    .signature {
        font-family: $bodyFont;
        font-size: 1.5rem;
        // letter-spacing: 1.5px;
        font-weight: 600;
    }
}

.links_container {
    height: 95vh;
    align-content: space-around;
    display: grid;
    align-items: center;
    align-content: center;

    .link {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        padding: 3%;
        padding-top: 10%;
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 425px) {
    .background {
        opacity: 1;
    }

    .title_container {
        
        .signature {
            font-size: 1.5rem;
        }
    }

    .links_container {

        .link {
            font-size: 2.5rem;
        }
    }
}

@media (min-width: 500px) {
    .links_container {

        .link {
            padding-top: 9%;
        }
    }
}

@media (min-width: 500px) {
    .links_container {

        .link {
            padding-top: 8%;
        }
    }
}

@media (min-width: 600px) {
    .links_container {

        .link {
            padding-top: 7%;
        }
    }
}

@media (min-width: 700px) {
    .links_container {

        .link {
            padding-top: 6%;
        }
    }
}

@media (min-width: 800px) {

    .links_container {

        .link {
            padding-top: 5%;
        }
    }
}

@media (min-width: 768px) and (min-height: 1024px){
    .background {
        opacity: 1;
    }


    .title_container {
        
        .signature {
            font-size: 2.5rem;
        }
    }

    .links_container {

        .link {
            font-size: 3.5rem;
        }
    }
}