* {
  margin: 0;
  padding: 0;
}

.amt-container .am-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: black;
  padding-left: 4%;
}

.am-b-container {
  height: 105vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.am-b-container .am-body {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 1.23rem;
  padding-left: 6%;
}

@media (min-width: 375px) {
  .am-b-container {
    height: 95vh;
  }
  .am-b-container .am-body {
    font-size: 1.40rem;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .am-b-container {
    height: 100vh;
  }
  .am-b-container .am-body {
    font-size: 1.45rem;
  }
}

@media (min-width: 411px) {
  .am-b-container {
    height: 95vh;
  }
  .am-b-container .am-body {
    font-size: 1.5rem;
  }
}

@media (min-width: 425px) {
  .am-b-container {
    height: 90vh;
  }
  .am-b-container .am-body {
    font-size: 1.45rem;
  }
}

@media (min-width: 525px) {
  .am-b-container {
    height: 90vh;
  }
  .am-b-container .am-body {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .am-b-container .am-body {
    font-size: 1.75rem;
  }
}

@media (min-width: 700px) {
  .am-b-container .am-body {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .amt-container .am-title {
    font-size: 3.5rem;
  }
  .am-b-container .am-body {
    font-size: 2.1rem;
  }
}

@media (min-width: 1000px) {
  .am-b-container .am-body {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .am-b-container .am-body {
    font-size: 2.1rem;
  }
}

.pt-container .p-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: black;
  padding-left: 4%;
}

.p-b-container {
  height: 110vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 1.5rem;
  padding-left: 4%;
}

.p-b-container .p-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
}

.p-b-container .p-1:visited {
  color: black;
}

.p-b-container .p-1 .p-1-image {
  width: 160%;
}

.p-b-container .p-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
}

.p-b-container .p-2:visited {
  color: black;
}

.p-b-container .p-2 .p-2-image {
  width: 160%;
}

.p-b-container .p-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
}

.p-b-container .p-3:visited {
  color: black;
}

.p-b-container .p-3 .p-3-image {
  width: 160%;
}

@media (min-width: 425px) {
  .p-b-container {
    font-size: 1.45rem;
  }
  .p-b-container .p-1 .p-1-image {
    width: 100%;
  }
  .p-b-container .p-2 .p-2-image {
    width: 100%;
  }
  .p-b-container .p-3 .p-3-image {
    width: 100%;
  }
}

@media (min-width: 525px) {
  .p-b-container {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .p-b-container {
    font-size: 1.75rem;
  }
}

@media (min-width: 700px) {
  .p-b-container {
    height: 120vh;
    font-size: 1.9rem;
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .pt-container .p-title {
    font-size: 3.5rem;
  }
  .p-b-container {
    font-size: 2.5rem;
  }
  .p-b-container .p-1 .p-1-image {
    width: 100%;
  }
  .p-b-container .p-2 .p-2-image {
    width: 100%;
  }
  .p-b-container .p-3 .p-3-image {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .p-b-container {
    font-size: 2.1rem;
    margin-bottom: 15%;
  }
}

@media (min-width: 1300px) {
  .p-b-container {
    margin-bottom: 25%;
  }
}

@media (min-width: 1400px) {
  .p-b-container {
    margin-bottom: 30%;
  }
}

.r-container .r-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: black;
  padding-left: 4%;
}

.pdf-container {
  height: 90vh;
  display: -ms-grid;
  display: grid;
}

.pdf-container .pdf-file {
  padding-top: 10%;
  height: 45%;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 265px) {
  .pdf-container .pdf-file {
    height: 48%;
  }
}

@media (min-width: 290px) {
  .pdf-container .pdf-file {
    height: 51%;
  }
}

@media (min-width: 320px) {
  .pdf-container .pdf-file {
    height: 56%;
  }
}

@media (min-width: 330px) {
  .pdf-container .pdf-file {
    height: 58%;
  }
}

@media (min-width: 340px) {
  .pdf-container .pdf-file {
    height: 60%;
  }
}

@media (min-width: 350px) {
  .pdf-container .pdf-file {
    height: 62%;
  }
}

@media (min-width: 360px) {
  .pdf-container .pdf-file {
    height: 64%;
  }
}

@media (min-width: 370px) {
  .pdf-container .pdf-file {
    height: 66%;
  }
}

@media (min-width: 380px) {
  .pdf-container .pdf-file {
    height: 68%;
  }
}

@media (min-width: 390px) {
  .pdf-container .pdf-file {
    height: 70%;
  }
}

@media (min-width: 400px) {
  .pdf-container .pdf-file {
    height: 72%;
  }
}

@media (min-width: 410px) {
  .pdf-container .pdf-file {
    height: 74%;
  }
}

@media (min-width: 425px) {
  .pdf-container .pdf-file {
    width: 70%;
    height: 52%;
  }
}

@media (min-width: 440px) {
  .pdf-container .pdf-file {
    height: 54%;
  }
}

@media (min-width: 460px) {
  .pdf-container .pdf-file {
    height: 56%;
  }
}

@media (min-width: 480px) {
  .pdf-container .pdf-file {
    height: 58%;
  }
}

@media (min-width: 500px) {
  .pdf-container .pdf-file {
    height: 60%;
  }
}

@media (min-width: 510px) {
  .pdf-container .pdf-file {
    height: 62%;
  }
}

@media (min-width: 520px) {
  .pdf-container .pdf-file {
    height: 64%;
  }
}

@media (min-width: 530px) {
  .pdf-container .pdf-file {
    height: 66%;
  }
}

@media (min-width: 540px) {
  .pdf-container .pdf-file {
    height: 68%;
  }
}

@media (min-width: 550px) {
  .pdf-container .pdf-file {
    height: 70%;
  }
}

@media (min-width: 590px) {
  .pdf-container .pdf-file {
    height: 72%;
  }
}

@media (min-width: 600px) {
  .pdf-container .pdf-file {
    height: 78%;
  }
}

@media (min-width: 650px) {
  .pdf-container .pdf-file {
    height: 82%;
  }
}

@media (min-width: 700px) {
  .pdf-container .pdf-file {
    height: 86%;
  }
}

@media (min-width: 750px) {
  .pdf-container {
    padding-top: none;
    height: 100vh;
  }
  .pdf-container .pdf-file {
    height: 90%;
  }
}

@media (min-width: 900px) {
  .pdf-container {
    padding-top: none;
  }
  .pdf-container .pdf-file {
    width: 60%;
    height: 75%;
  }
}

@media (min-width: 1000px) {
  .pdf-container {
    padding-top: none;
  }
  .pdf-container .pdf-file {
    height: 80%;
  }
}

@media (min-width: 1100px) {
  .pdf-container {
    padding-top: none;
  }
  .pdf-container .pdf-file {
    height: 85%;
  }
}

@media (min-width: 1200px) {
  .pdf-container {
    padding-top: none;
    height: 105vh;
    margin-bottom: 5%;
  }
  .pdf-container .pdf-file {
    height: 85%;
  }
}

@media (min-width: 1400px) {
  .pdf-container {
    padding-top: none;
    height: 110vh;
  }
  .pdf-container .pdf-file {
    height: 85%;
  }
}

.cm-container .cm-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: black;
  padding-left: 4%;
}

.cm-b-container {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cm-b-container .i-1 {
  display: -ms-grid;
  display: grid;
  padding-left: 8%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  text-decoration: none;
  color: black;
}

.cm-b-container .i-1 .i-1-image {
  height: 100px;
}

.cm-b-container .i-1 .i-1-span {
  padding-top: 2%;
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 1.5rem;
}

.cm-b-container .i-2 {
  display: -ms-grid;
  display: grid;
  padding-left: 8%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  text-decoration: none;
  color: black;
}

.cm-b-container .i-2 .i-2-image {
  height: 100px;
}

.cm-b-container .i-2 .i-2-span {
  padding-top: 2%;
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 1.5rem;
}

@media (min-width: 375) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.4rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.4rem;
  }
}

@media (min-width: 411) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.5rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.5rem;
  }
}

@media (min-width: 425) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.45rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.45rem;
  }
}

@media (min-width: 525) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.5rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.5rem;
  }
}

@media (min-width: 600) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.75rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.75rem;
  }
}

@media (min-width: 700) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 1.9rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .cm-container .cm-title {
    font-size: 3.5rem;
  }
  .cm-b-container .i-1 .i-1-image {
    height: 200px;
  }
  .cm-b-container .i-1 .i-1-span {
    font-size: 2.1rem;
  }
  .cm-b-container .i-2 .i-2-image {
    height: 200px;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 2.1rem;
  }
}

@media (min-width: 1200) {
  .cm-b-container .i-1 .i-1-span {
    font-size: 2.1rem;
  }
  .cm-b-container .i-2 .i-2-span {
    font-size: 2.1rem;
  }
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 93vh;
  background-position: right;
  position: fixed;
  top: 0px;
  right: 2px;
  z-index: -1;
  overflow: hidden;
  opacity: 0.4;
}

.background .background-image {
  height: 93vh;
  opacity: 1;
}

.background #tieColor {
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
}

.title_container {
  padding: 4%;
}

.title_container .signature {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.links_container {
  height: 95vh;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.links_container .link {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.5rem;
  padding: 3%;
  padding-top: 10%;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

@media (min-width: 425px) {
  .background {
    opacity: 1;
  }
  .title_container .signature {
    font-size: 1.5rem;
  }
  .links_container .link {
    font-size: 2.5rem;
  }
}

@media (min-width: 500px) {
  .links_container .link {
    padding-top: 9%;
  }
}

@media (min-width: 500px) {
  .links_container .link {
    padding-top: 8%;
  }
}

@media (min-width: 600px) {
  .links_container .link {
    padding-top: 7%;
  }
}

@media (min-width: 700px) {
  .links_container .link {
    padding-top: 6%;
  }
}

@media (min-width: 800px) {
  body {
    margin-left: 10%;
  }
  .background {
    margin-right: 5%;
  }
  .links_container .link {
    padding-top: 5%;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .background {
    opacity: 1;
  }
  .title_container .signature {
    font-size: 2.5rem;
  }
  .links_container .link {
    font-size: 3.5rem;
  }
}

@media (min-width: 900px) {
  body {
    margin-left: 15%;
  }
  .background {
    margin-right: 10%;
  }
}

@media (min-width: 1000px) {
  body {
    margin-left: 20%;
  }
  .background {
    margin-right: 10%;
  }
}

@media (min-width: 1200px) {
  body {
    margin-left: 15%;
  }
  .background {
    margin-right: 16%;
  }
}

@media (min-width: 1800px) {
  body {
    margin-left: 20%;
  }
  .background {
    margin-right: 18%;
  }
}
/*# sourceMappingURL=main.css.map */