* {
    margin: 0;
    padding: 0;
}

// IMPORTS
@import '_about-me'; // ABOUT ME PAGE
@import '_projects'; // PROJECTS PAGE
@import '_resume'; // RESUME PAGE
@import '_contact-me'; // CONTACT ME PAGE

// VARIABLES
$titleFont: 'Merriweather', serif;
$bodyFont: 'Oswald', sans-serif;



.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    background-position: right;
    position: fixed;
    top: 0px;
    right: 2px;
    z-index: -1;
    overflow: hidden;

    .background-image {
        height: 93vh;
        opacity: 0.3;
    }

    #tieColor {
        height: 100vh;
        width: 100%;
        top: 0;
        position: absolute;
        z-index: -2;
    }
}


.title_container {
    padding: 4%;

    .signature {
        font-family: $bodyFont;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
}

.links_container {
    height: 95vh;
    align-content: space-around;
    display: grid;
    align-items: center;
    align-content: center;

    .link {
        font-family: $titleFont;
        font-weight: 300;
        font-size: 2.5rem;
        padding: 4%;
        padding-top: 10%;
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
    }
}